@import "tailwindcss";


/* @theme: {
  @container: {
    center: true,
    padding: '1.25rem',
  },
  @colors:{
  --color-primary: #00D991;
  --color-dark: #171923;
  --color-light: #ffffff;
  --color-body: #1D1E28;
}
} */

